body, html {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
}

div {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
  font-size: 1em;
}

.roam-body .roam-app .roam-main .roam-article {
  font-size: 16px;
}

.roam-body .roam-app .roam-sidebar-container {
  background-color: #f7f6f3
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page {
  padding: 8px 0px 8px 20px;
  color: rgba(25, 23, 17, 0.6);
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page:hover {
  color: rgba(25, 23, 17, 0.6);
  background-color: #37352f14;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .top-row {
  color: rgba(25, 23, 17, 0.6);
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .top-row:hover {
  color: rgba(25, 23, 17, 0.6);
  background-color: #37352f14;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button {
  color: rgba(25, 23, 17, 0.6);
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button:hover {
  color: rgba(25, 23, 17, 0.6);
  background-color: #37352f14;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper {
  padding: 8px 0px;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .shortcut {
  padding-left: 20px;
}

.check-container {
  top: -8px;
}

.roam-article .roam-block a {
  color: #37352f99;
  text-decoration: none;
  border-bottom: 1px solid #37352f33;
  padding-bottom: 1px;
}

.roam-article .roam-block a:focus, .roam-article .roam-block a:hover {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.rm-page-ref-tag {
  	font-size: 0.9em;
    color: rgb(55, 53, 47);
    background-color: rgba(206, 205, 202, 0.5);
    padding: 3px 6px;
    border-radius: 3px;
}

.roam-highlight {
  background-color: rgb(251,243,219);
}

::selection {
    background: rgba(45, 170, 219, 0.3);
}

.block-border-left {
    border-left: 1px solid rgba(55, 53, 47, 0.09);
}

.block-highlight-blue {
    background-color: rgba(45, 170, 219, 0.3);
}
